@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|PT+Sans:400,700,400italic,700italic);

#sidebar-first ul li, #sidebar-second ul li {
    display: block;
    margin: 0 0 .75em;
    font-size: 18px;
    line-height: 1.25;
}

#sidebar-first ul, #sidebar-second ul {
    padding: 0;
    list-style: none;
}

#sidebar-first{
    float: left;
    width: 220px;
}

#sidebar-first, #sidebar-second {
    background: #f7f7f7;
    padding: 20px;
}

#content {
    float: right;
    width: 700px;
    margin: 20px 0;
}

body, #page {
    height: 100%;
    min-width: 320px;
}

#sidebar-first h2, #sidebar-second h2 {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 0 0 .66em;
}

::selection {
background: #b3d4fc;
text-shadow: none;
}

#sidebar-first ul li a, #sidebar-second ul li a {
    color: #999;
}

#sidebar-first ul ul li a, #sidebar-second ul li a {
    color: #7DB6D3;
    font-size: 14px;
}

#sidebar-first ul ul, #sidebar-second ul ul {
    margin-left: 10px;
}

#sidebar-first ul ul li, #sidebar-second ul ul li {
    margin-top: .5em;
    font-size: 14px;
}

a {
    -webkit-transition: color 0.25s;
    -moz-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
    text-decoration: none;
    color: #0095dd;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

#site-header {
    width: 100%;
    background: #F7F6F4;
    height: 134px;
    border-top: 39px solid #302C6D;
    border-bottom: 2px solid #c4c4c5;
    -webkit-box-shadow: rgba(0,0,0,0.15) 0 0 20px;
    -moz-box-shadow: rgba(0,0,0,0.15) 0 0 20px;
    box-shadow: rgba(0,0,0,0.15) 0 0 20px;
}

#site-header .header-primary-menu a {
    color: #302C6D;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#site-header .header-primary-menu li {
    margin-right: 16px;
    white-space: nowrap;
}

ul.menu, ul.menu li, ul li.leaf {
    background: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.block-menu-block ul.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

.block-menu-block ul.menu li {
    margin: 0;
    padding: 0;
    display: inline;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

#site-header .logo img {
    display: block;
    width: 215px;
    height: 62px;
    margin: 0;
}

#site-header .header-primary-menu {
    margin-left: 240px;
    line-height: 100px;
    font-size: 18px;
    font-weight: bold;
}

.boxes-box {
    position: relative;
}

.clearfix:before{
    content: " ";
    display: table;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#site-header .header-wrapper,
#site-footer .footer-wrapper,
#main{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

#main {
    z-index: 1;
}

div {
    display: block;
}

#sidebar {
    display: block;
    float: left;
    width: 300px;
}

#site{
    display: inline-block;
    float: left;
    width: 500px;
}

#site-header .logo{
    position: absolute;
    top: 18px;
    left: 5px;
}

@page {
    margin: .5in;
    @bottom-center{
        font-size: 10px;
        content: '\00a9 2013 Puppet Labs';
    }
}

div.page-break{
    page-break-after: always;
}
    
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
    color: #5d5e59;
}
table {
	margin: 10px 0 15px 0;
	border-collapse: collapse;
}
td,th {	
	border: 1px solid #ddd;
	padding: 3px 10px;
}
th {
	padding: 5px 10px;	
}

a img {
    border: none;
}
p {
    margin-bottom: 9px;

}
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: "Arvo","PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #6c6d6d;
    font-weight: normal;
    line-height: 1.15em;
    margin: 1em 0 .25em;
    text-rendering: optimizeLegibility;
}

h1 {
    margin-top: 0;
    font-size: 36px;
    font-size: 2.25rem;
}

h2 {
display: block;
font-size: 1.5em;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
}
h3 {
    color: #7C6AAB;    
    font-size: 18px;
}
h4 {
    color: #2a2a2a;
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
hr {
    margin: 0 0 19px;
    border: 0;
    border-bottom: 1px solid #ccc;
}
blockquote {
    padding: 13px 13px 21px 15px;
    margin-bottom: 18px;
    font-family:georgia,serif;
    font-style: italic;
}
blockquote:before {
    content:"\201C";
    font-size:40px;
    margin-left:-10px;
    font-family:georgia,serif;
    color:#eee;
}
blockquote p {
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0;
    font-style: italic;
}
code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    background-color: #eee;
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    font-size: 12px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #fff;
    color:#737373;
    font-size: 11px;
    padding: 0;
}
sup {
    font-size: 0.83em;
    vertical-align: super;
    line-height: 0;
}
div.lvm-callout{
    background: #7C6AAB;
    color: #fff;
    float: right;
    width: 30%;
    border-radius: 4px;
    padding: 1em;
    margin-right: 1.2em;
    page-break-inside: avoid;
}

div.lvm-callout p{
    font-size: 11px;
    width: 90%;
}

div.lvm-tip p:before{
    font-family: "Arvo","PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    content: "Tip:";
    font-size: 16px;
    display: block;
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

div.lvm-warning p:before{
    font-family: "Arvo","PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    content: "Warning:";
    font-size: 16px;
    display: block;
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

div.lvm-fact p:before{
    font-family: "Arvo","PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    content: "Fact:";
    font-size: 16px;
    display: block;
    border-bottom: 1px solid;
    margin-bottom: 1em;
}

div.lvm-inline-aside{
    background: #eee;
    padding: 1em;
    border-radius: 4px;
    font-weight: bold;
    margin: 2em;
}

code.language-text:before{
    content: url('../assets/console.png');
    vertical-align: middle;
    position: relative;
    left: -20px;
    top: 7px;
}
