.book.font-family-1,
.book .book-header,
.book .book-summary {
  font-family: 'Calibre',Helvetica,Tahoma,Arial,sans-serif;
}

/* Terminal pinning */
body {
  display: flex;
}

.book {
  flex: 3;
}

.terminal_wrapper {
  flex: 2;
}

#terminal {
  height: 100%;
  width: 100%;
  border: none;
}

@media (max-width: 1440px) {
  body {
    flex-direction: column;
  }
}


.markdown-section h1 {
  margin-top: 0em;
  font-size: 3.2em;
}

#book-search-input input, #book-search-input input:focus, #book-search-input input:hover {
    width: 100%;
    background: 0 0;
    border: 1px solid transparent;
    box-shadow: none;
    outline: 0;
    color: #000;
    padding: 0px;
}

.book-summary {
  width: 250px;
  overflow-x: hidden;
}

.book-summary ul.summary li.header {
  padding-top: 15px;
  text-transform: uppercase;
  color: #FFD86E;
}

.lvm-task-number {
  color: #6c6d6d;
  font-size: 1.625rem;
  font-style: bold;
}

.book-summary ul.summary li a:hover {
  text-decoration: none;
}

.lvm-task-number p:before {
    color: #FFAE1A;
    display: inline;
    font-family: 'FontAwesome', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    content: ' ';
    font-size: 1em;
}

.book .book-body .page-wrapper .page-inner section.normal a,
.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active>a {
    color: #FFAE1A;
}

.book .book-summary {
  color: #FFF;
  background-color: #2E2E2E;
  font-size: 1.1em;
  font-weight: 500;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  color: #FFF;
  font-size: 1.1em;
  font-weight: 500;
  padding: 5px 15px;
}

.book .book-summary ul.summary:before {
    background-image: url('/assets/puppet-logo-amber-white-lg.png');
    background-size: 150px;
    display: inline-block;
    width: 199px;
    height: 70px;
    content: "";
    margin: 20px;
    background-repeat: no-repeat;
}
