<div id="site-header" role="banner">
    <div class="header-wrapper">
        <div class="logo">
            <div class="content">
                <a href="/">
                    <img src="/assets/Puppet-Labs-Logo.png">
                </a>
            </div>
        </div>
        <div class="block-menu-block header-primary-menu">
            <div class="content">
                <ul class="menu">
                    <li>
                        <a href="/index.html">
                            Quests
                        </a>
                    </li>
                    <li>
                        <a href="/glossary.html">
                            Glossary
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/puppetlabs/courseware-lvm/blob/master/SETUP.md#troubleshooting">
                            Troubleshooting
                        </a>
                    <li>
                    <li>
                        <a href="https://learn.puppetlabs.com" target="_blank">
                            Learning Resources
                        </a>
                    </li>
                    <li>
                        <a href="http://docs.puppetlabs.com" target="_blank">
                            Puppet Docs
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
