<div id="site-header" role="banner">
    <div class="header-wrapper">
        <div class"region region-header">
            <div id="block-boxes-test" class="block block-boxes block-boxes simple logo block-odd">
                <div class="content">
                    <a href="/">
                        <img src="/assets/Puppet-Labs-Logo.png">
                    </a>
                </div>
            </div>
            <div id="block-menu_block-2" class="block block-menu-block header-primary-menu block-even">
                <div class="content">
                    <div class="menu-block-wrapper menu-block-2 menu-name-main-menu parent-mlid-0 menu-level-1">
                        <!--/*
                        <ul class="menu">
                            <li>
                                <a href="/">
                                    Quests
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    Progress
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    Cheat-Sheet
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="/">
                                    Resources
                                </a>
                            </li>
                        </ul>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
