<aside id="sidebar-first" class="column sidebar first" role="complementary">
    <div id="sidebar-first-inner" class="inner">
        <div class="content">
            <div class="menu-block-wrapper menu-block-7 menu-name-main-menu parent-mlid-0 meni-level-2">
                <ul class="menu">
                    <li>
                        <a href="/quests/welcome.html">Welcome</a>
                    </li>
                    <li>
                        <a href="/quests/resources.html">Resources</a>
                    </li>
                    <li>
                        <a href="/quests/manifest_quest.html">Manifests</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</aside>
