<aside id="sidebar-first" class="column sidebar first" role="complementary">
    <div id="sidebar-first-inner" class="inner">
        <div class="content">
            <h2>Quests</h2>
            <div class="menu-block-wrapper menu-block-7 menu-name-main-menu parent-mlid-0 meni-level-2">
                <ul class="menu">
                    {% for quest in site.data.quest_order %}
                        {% if quest.url == page.url %}
                            <li class="active">
                                <a href="{{quest.url}}" class = "active">{{quest.title}}</a>
                            </li>
                        {% elsif quest.url == '/quests/welcome.html' %}
                            {% if page.url == '/index.html' %}
                            <li>
                                <a href="{{quest.url}}" class = "active">{{quest.title}}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{quest.url}}">{{quest.title}}</a>
                            </li>
                            {% endif %}
                        {% else %}
                            <li>
                                <a href="{{quest.url}}">{{quest.title}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</aside>
