<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
    <div id="page" class="page">
        {% include header.html %}
        <div id="main" clas="clearfix" role-"main">
        {% include sidebar.html %}

            <div id="content" class="clearfix" role="main">

                {{ content }}

            </div>
        {% include footer.html %}
        </div>
    </div>
    </body>
</html>
