<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
    <script>
      document.addEventListener('click', function(event) {
        var target = event.target;
        if (target.tagName.toLowerCase() == 'a')
        {
            var port = target.getAttribute('href').match(/^:(\d+)(.*)/);
            if (port)
            {
               target.href = port[2];
               target.port = port[1];
            }
        }
      }, false);
    </script> 
    <div id="page" class="page">
        {% include header.html %}
        <div id="main" class="clearfix" role-"main">
        {% include sidebar.html %}

            <div id="content" class="clearfix" role="main">
                {{ content | indexer }}
            </div>
        </div>
        {% include footer.html %}       
    </div>
    </body>
</html>
